/* Estilos específicos para quando o formulário estiver sozinho (Reset Password) */
/* .wrapper:not(.active):not(.show-forgot):not(.show-success) .form-box {
    width: 100%;
    position: relative;
    padding: 40px;
}

.wrapper .form-box .animation {
    transform: translateX(0) !important;
    opacity: 1 !important;
    filter: blur(0) !important;
} */